<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">

      <div class="card">
        <div class="card-header text-center">
          <h3 class="m-0">Sign up</h3>
        </div>
        <div class="card-body">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "user/shared/error_messages", resource: resource %>

              <!-- f.label :ラベル名, "表示したい内容"でautofocus: trueが使用できる -->
              <!--class: "form-control"フォームの構成要素に対して横幅を100%に設定-->
             <div class="form-group">
                <%= f.label :name, "ユーザー名" %>
                <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
             </div>

            <div class="form-group">
              <%= f.label :email, "メールアドレス" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "パスワード(確認用)" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :age, "年齢" %>
              <%= f.text_field :age, autofocus: true, autocomplete: "age", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :height, "身長(cm)" %>
              <%= f.number_field :height, autofocus: true, autocomplete: "height", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :weight, "体重(kg)" %>
              <%= f.number_field :weight, autofocus: true, autocomplete: "weight", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :gender, "性別" %>
              <%= f.select :gender, ["男性", "女性"], { prompt: "選択してください" }, class: "form-control" %>
            </div>
            
            <div class="d-grid gap-2">
              <%= f.submit "Sign up", class: "btn btn-warning btn-block" %>
            </div>
          <% end %>

          <%= render "user/shared/links" %>

        </div>
      </div>

    </div>
  </div>
</div>