<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          プロフィール編集
        </div>
        <div class="card-body">
          <%= form_with model: @user, local: true do |f| %>

          <div class="form-group">
            <%= f.label :profile_image, "プロフィール画像" %>
            <%= f.file_field :profile_image, accept: 'image/jpeg', class: "form-control-file" %>
          </div>

            <!-- ユーザー名 -->
            <div class="form-group">
              <%= f.label :name, "ユーザー名" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <!--身長-->
            <div class="form-group">
              <%= f.label :height, "身長(cm)" %>
              <%= f.number_field :height, autofocus: true, autocomplete: "height", class: "form-control" %>
            </div>
            <!--体重-->
            <div class="form-group">
              <%= f.label :weight, "体重(kg)" %>
              <%= f.number_field :weight, autofocus: true, autocomplete: "weight", class: "form-control" %>
            </div>

            <!-- 年齢 -->
            <div class="form-group">
              <%= f.label :age, "年齢" %>
              <%= f.number_field :age, class: "form-control" %>
            </div>

            <!-- 性別 -->
            <div class="form-group">
              <%= f.label :gender, "性別" %>
              <%= f.select :gender, ["男性", "女性"], { prompt: "選択してください" }, class: "form-control" %>
            </div>

            <!-- 保存ボタン -->
            <div class="form-group">
              <%= f.submit "保存", class: "btn btn-primary" %>
            </div>

            <!--退会機能-->
            <%= link_to '退会する', withdraw_user_status_user_path, method: :patch, data: { confirm: '本当に退会しますか？' } %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>