<h1 class="mb-4">フォロー中のユーザー</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="px-3">プロフィール画像</th>
      <th class="px-3">ユーザー名</th>
      <th class="px-3">BMI</th>
      <th class="px-3">フォロー数</th>
      <th class="px-3">フォロワー数</th>
      <th class="px-3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.followings.each do |following| %>
      <tr>
        <td class="px-3">
          <%= image_tag following.get_profile_image(90, 90), class: 'img-fluid rounded-circle' %>
        </td>
        <td class="px-3"><%= following.name %></td>
        <td class="px-3"><%= following.bmi %></td>
        <td class="px-3"><%= following.followings.count %></td>
        <td class="px-3"><%= following.followers.count %></td>
        <td class="px-3">
          <% if current_user.following?(following) %>
            <%= link_to 'フォロー解除', unfollow_user_path(following), method: :delete, class: 'btn btn-sm btn-primary' %>
          <% else %>
            <%= link_to 'フォローする', follow_user_path(following), method: :post, class: 'btn btn-sm btn-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
