<h1 class="mb-4">フォロワー一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="px-3">プロフィール画像</th>
      <th class="px-3">ユーザー名</th>
      <th class="px-3">BMI</th>
      <th class="px-3">フォロー数</th>
      <th class="px-3">フォロワー数</th>
      <th class="px-3"></th>
      <th class="px-3"></th> <!-- 投稿閲覧用の列を追加 -->
    </tr>
  </thead>
  <tbody>
    <% @user.followers.each do |follower| %>
      <tr>
        <td class="px-3">
          <%= image_tag follower.get_profile_image(50, 50), size: "60x60", class: 'rounded-circle' %>
        </td>
        <td class="px-3"><%= follower.name %></td>
        <td class="px-3"><%= follower.bmi %></td>
        <td class="px-3"><%= follower.followings.count %></td>
        <td class="px-3"><%= follower.followers.count %></td>
        <td class="px-3">
          <% if current_user.following?(follower) %>
            <%= link_to 'フォロー解除', unfollow_user_path(follower), method: :delete, class: 'btn btn-sm btn-primary' %>
          <% else %>
            <%= link_to 'フォローする', follow_user_path(follower), method: :post, class: 'btn btn-sm btn-primary' %>
          <% end %>
        </td>
        <td class="px-3">
          <%= link_to '投稿を見る', user_path(follower), class: 'btn btn-sm btn-secondary' %> <!-- 追加 -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
