<head>
  <title>Fitgram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--通常のCSSファイルを読み込むために使用される。-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--Webpackerを使用している場合に、JavaScriptとCSSを一緒にバンドルしたファイルを読み込むために使用される-->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<!--<div class="jumbotron">-->
<!--  <h1 class="display-4">あなたの熱意が誰かを変える。</h1>-->
<!--  <p class="lead">仲間と一緒に成長しよう！！</p>-->
<!--  <hr class="my-4">-->
<!--  <p>さらに詳しく</p>-->
<!--  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--</div>-->

<div class="card bg-dark text-white col-md-4 mx-auto my-auto">
  <%= image_tag "Fitgram.png", class: "card-img-top rounded-circle", alt: "Image cap" %>
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>