<head>
  <title>Fitgram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--通常のCSSファイルを読み込むために使用される。-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--Webpackerを使用している場合に、JavaScriptとCSSを一緒にバンドルしたファイルを読み込むために使用される-->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="logo-img bg-transparent text-black col-md-3 mx-auto my-auto">
  <%= image_tag "logo.jpg", class: "card-img-top rounded-circle", alt: "Image cap" %>

  <div class="btn-user mx-auto text-center">
    <%= link_to '新規登録', new_user_registration_path, class: "btn btn-success btn-lg btn-block mt-5" %>
    <%= link_to 'ログイン', new_user_session_path, class: "btn btn-info btn-lg btn-block mt-3 mb-3" %>
    <%= link_to 'ゲストログイン', user_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-lg btn-block guest_sign_in" %>
    <%= link_to 'このアプリについて', new_user_registration_path %>
  </div>
</div>