<head>
  <title>Fitgram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--通常のCSSファイルを読み込むために使用される。-->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!--Webpackerを使用している場合に、JavaScriptとCSSを一緒にバンドルしたファイルを読み込むために使用される-->
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<!--<div class="jumbotron">-->
<!--  <h1 class="display-4">あなたの熱意が誰かを変える。</h1>-->
<!--  <p class="lead">仲間と一緒に成長しよう！！</p>-->
<!--  <hr class="my-4">-->
<!--  <p>さらに詳しく</p>-->
<!--  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--</div>-->

<div class="logo-img card bg-transparent text-black col-md-5 mx-auto my-auto">
  <%= image_tag "Fitgram.png", class: "card-img-top rounded-circle", alt: "Image cap" %>
  <div class="card-img-overlay d-flex align-items-end text-center align-middle">
    <!--<h1 class="home-text mt-5 mb-3">あなたの熱意が誰かを変える</h1>-->
    <!--<h4 class="home-text mt-3 mb-5">仲間と一緒に成長しよう!</h4>-->
    <div class="btn-user mx-auto">
    <%= link_to '新規登録',new_user_registration_path, class: "btn btn-info btn-lg btn-block mt-5 sign_up" %>
    <%= link_to 'ログイン',new_user_session_path, class: "btn btn-success btn-lg btn-block mt-3 mb-3 sign_in" %>
    <%= link_to 'ゲストログイン',user_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-lg btn-block guest_sign_in" %>
    <%= link_to 'さらに詳しく',about_path %>
    </div>
</div>
