<div class="container-fluid post-index">
  <div class="row align-items-start">

    <!-- 検索フォーム -->
    <div class="col-12">
      <div class="d-flex justify-content-center mb-4">
        <%= form_with url: search_posts_path, method: :get, local: true, class: 'form-inline' do %>
          <%= select_tag :search_type, options_for_select({ 'ユーザー名': 'name', '投稿内容': 'caption' }), class: 'form-control mr-sm-2' %>
          <%= text_field_tag :keyword, params[:keyword], placeholder: '検索...', class: 'form-control mr-sm-2' %>
          <%= submit_tag '検索', class: 'btn btn-success my-2 my-sm-0' %>
        <% end %>
      </div>
    </div>

    <!-- サイドバー用のプロフィール -->
    <div class="col-lg-3 col-md-4 sticky-top">
      <%= render 'layouts/sidebar', user: @user %>
    </div>

    <!-- 投稿内容 -->
    <div class="col-lg-9 col-md-8">
      <% @posts.each do |post| %>
        <%= render 'user/posts/post_card', post: post %>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>