<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--BMI他の人も見れるように-->
      <%= render "layouts/sidebar", user: current_user %>
    </div>
    <div class="col-md-9">
      <h2>All User Posts</h2>
        <% @posts.each do |post| %>
        <div class="card">
          <div class="card-header">

            <h5 class="m-0"><%= post.image_title %></h5>
          </div>
          <div class="card-body">
            <%= image_tag post.image, class: "img-fluid post-card-img" %>
            <div class="my-3">
              <%= simple_format(post.caption, class: "m-0") %>
            </div>
          </div>
          <div class="card-footer">
            <%= post.user.name %>
            <%= post.user.bmi %>
            <div class="text-right">
              <small class="text-black-50">
                <%= post.created_at.in_time_zone("Asia/Tokyo").strftime("%Y/%m/%d %H:%M") %>
              </small>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>

</div>