<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 mx-2 shadow-lg rounded px-0 my-5 bg-white">
      <h5 class="text-dark p-4 mb-0 text-center">投稿フォーム</h5>
      <div class="form-body p-4">
        <!-- 送信できなかった場合のエラー表示 -->
        <% if @post.errors.any? %>
          <div class="alert alert-danger">
            <%= @post.errors.count %>件のエラーが発生しました:
            <ul>
              <% @post.errors.each do |attribute, message| %>
                <% if attribute == :image %>
                  <li><%= message %></li>
                <% else %>
                  <li><%= attribute.to_s.humanize %> <%= message %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with model: @post, local: true do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01"><i class="fas fa-image"></i></span>
            </div>
            <div class="custom-file">
              <%= f.file_field :image, class: 'custom-file-input', id: 'inputGroupFile01', 'aria-describedby': 'inputGroupFileAddon01', accept: 'image/*' %>
              <label class="custom-file-label" for="inputGroupFile01">投稿画像を選択</label>
            </div>
          </div>

          <div class="form-group">
            <%= f.text_field :image_title, class: 'form-control', placeholder: 'タイトル' %>
          </div>

          <div class="form-group">
            <%= f.text_area :caption, class: 'form-control', rows: '3', placeholder: 'コメントここに' %>
          </div>

          <%= f.submit '投稿', class: 'btn btn-lg btn-block btn-info custom-submit-btn mt-4' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
