<h1 class="mb-4">ユーザー 一覧</h1>

<%= form_with(url: search_admin_users_path, method: :get, local: true, class: 'form-inline mb-3') do |form| %>
  <div class="form-group mr-2">
    <%= form.label :name, 'ユーザー名で検索:', class: 'mr-2' %>
    <%= form.text_field :name, value: params[:name], class: 'form-control' %>
  </div>
  <%= form.submit '検索', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="px-3">プロフィール画像</th>
      <th class="px-3">ユーザー名</th>
      <th class="px-3">メールアドレス</th>
      <th class="px-3">身長</th>
      <th class="px-3">体重</th>
      <th class="px-3">年齢</th>
      <th class="px-3">性別</th>
      <th class="px-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="px-3">
          <%= link_to image_tag(user.get_profile_image(50, 50),size: "50x50", class: 'img-fluid rounded-circle'), admin_user_path(user) %>
        </td>
        <td class="px-3"><%= user.name %></td>
        <td class="px-3"><%= user.email %></td>
        <td class="px-3"><%= user.height %></td>
        <td class="px-3"><%= user.weight %></td>
        <td class="px-3"><%= user.age %></td>
        <td class="px-3"><%= user.gender %></td>
        <td class="px-3"><%= link_to '編集', admin_user_path(user), class: 'btn btn-sm btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>