<div class="card my-3 profile">
  <%= image_tag user.get_profile_image(300, 300), alt: "プロフィール画像", size: "200x200", class: "rounded-circle mx-auto" %>
  <div class="card-body text-center">
    <h5 class="card-title"><%= user.name %></h5>
    <p class="card-text">
      <strong>BMI:</strong> <%= user.bmi %>
    </p>
    <p class="card-text">
      <strong>フォロー数:</strong> <%= link_to user.followings.count, followings_user_path(user) %>
    </p>
    <p class="card-text">
      <strong>フォロワー数:</strong> <%= link_to user.followers.count, followers_user_path(user) %>
    </p>
    <p class="card-text">
      <strong>いいねの数:</strong> <%= user.favorites.count %>
    </p>
    <% if current_user == user && current_user.email != "guest@example.com" %>
      <%= link_to "プロフィール編集", edit_user_information_user_path(user), class: "btn btn-light btn-block" %>
    <% end %>
    <%= link_to 'フォロー 一覧', followings_user_path(user), class: "btn btn-info btn-block mt-2" %>
    <%= link_to 'フォロワー 一覧', followers_user_path(user), class: "btn btn-primary btn-block mt-2" %>
  </div>
</div>