<!DOCTYPE html>
<html>
<head>
  <title>Fitgram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="https://kit.fontawesome.com/fc5c603cd5.js" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column min-vh-100">
  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag 'logo.jpg', alt: "Fitgram", class: "rounded-circle", style: "width: 14%; height: 14%; object-fit: cover;" %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-right-to-bracket"></i> ログアウト
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to posts_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-list"></i> 投稿一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_post_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-pen"></i> 投稿フォーム
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to favorite_posts_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-heart"></i> いいね一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to followings_user_path(current_user), class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-person-circle-check"></i> フォロー
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to followers_user_path(current_user), class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-user-group"></i> フォロワー
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-user"></i> マイページ
                <% end %>
              </li>

            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-user"></i> 会員一覧
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-right-to-bracket"></i> ログアウト
                <% end %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-house"></i> Home
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to about_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-address-card"></i> About
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-person-running"></i>新規登録
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                  <i class="fa-solid fa-fire-flame-curved"></i>ログイン
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="flex-grow-1 py-5">
    <%= yield %>
  </main>

  <footer class="text-white pt-3 pb-1">
  <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4">
          <p>健康な人を応援するSNS</p>
        </div>
        <div class="col-md-8">
          <ul class="p-0 list-unstyled">
            <li>
              <%= link_to "About", about_path, class: 'text-white-50' %>
            </li>
            <li>
              <span class="text-white-50">®︎Harada Hikaru</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>